          <ul class="nav navbar-nav">
            <li>
              <a href="/categories.html">
				Blog
              </a>
            </li>
            <li>
              <a href="/tags.html">
				Tag
              </a>
            </li>
            <li>
              <a href="/archives.html">
				Archives
              </a>
            </li>
            <li>
              <a href="/faqs.html">
				FAQ
              </a>
            </li>
            <li>
              <a href="/about.html">
				About
              </a>
            </li>
          </ul>
